<swiper
  class="bg-red-600"
  [slidesPerView]="3"
  [spaceBetween]="50"
  [navigation]="true"
  [pagination]="{ clickable: true }"
  [scrollbar]="{ draggable: true }"
>
  <ng-template ngFor
               let-subItem [ngForOf]="items"
               let-j="index"
               swiperSlide>
    <div class="flex text-[11px] bg-gray-100" *ngIf="subItem">
      <div>
        <img [src]="subItem?.images?.main?.url[0]" />
      </div>
      <div class="text-gray-400 flex font-[11px] items-center gap-2">
        <svg class="icon-small icon-primary">
          <use href="#deliveryExpress"/>
        </svg>
        {{subItem?.title_fa}}
      </div>
    </div>
  </ng-template>
</swiper>
