<div class="flex gap-2 mt-[40px] w-full">
  <div class="w-1/3">
    <app-market-product-images [item]="item"></app-market-product-images>
  </div>
  <div class="w-2/3">
    <div class="w-full">
      <nav class="rounded-md w-full text-[15px]">
        <ol class="list-reset flex">
          <li>
            <a href="#" class="text-blue-500 hover:text-blue-600">
              {{item?.product?.brand?.title_fa}}
            </a>
          </li>
          <li><span class="text-gray-500 mx-2">/</span></li>
          <li>
            <a href="#" class="text-blue-500 hover:text-blue-500">
              {{item?.product?.category?.title_fa + ' ' + item?.product?.brand?.title_fa}}
            </a>
          </li>
        </ol>
      </nav>
      <div class="py-2 font-bold text-[18px]">
        {{item?.product?.title_fa}}
      </div>
    </div>

    <div class="w-full flex">
      <div class="w-3/5 border-t-[1px]">
        <div class="py-4 w-full">
          <div class="flex gap-1 text-[12px] font-bold">
            <span><img src="/assets/static/img/star-yellow.png" class="h-4"/></span>
            <span>{{item?.product?.rating?.rate / 20}}</span> <span
            class="text-gray-400">({{item?.product?.rating?.count}})</span>
            <span>
          <svg class="icon-gray fill-gray-300 icon-small">
            <use href="#dotOutline"/>
          </svg>
        </span>
            <a href="#" class="text-link ">{{item?.product?.comments_count }} دیدگاه</a>
            <span>
          <svg class="icon-gray fill-gray-300 icon-small">
            <use href="#dotOutline"/>
          </svg>
        </span>
            <a href="#" class="text-link ">{{item?.product?.questions_count }} پرسش</a>
          </div>
        </div>
        <div class="border-b-[1px] border-gray-100 mb-2 w-full"></div>
        <div class="w-full flex flex-wrap justify-around h-max">
          <div *ngIf="item?.product?.colors?.length" class="w-4/5">
            <div class="my-5">
              <b>رنگ: {{item?.product?.default_variant?.color?.title}}</b>
              <div class="flex gap-4 my-3 flex-wrap">
                <ng-template ngFor let-subItem [ngForOf]="this.item?.product?.colors"
                             let-k="index">
                  <div class="flex justify-center">
                    <button
                      type="button" [style]="'background:' + subItem?.hex_code"
                      class="
                    colorPropertyBtn
                    focus:ring-[3px] focus:ring-cyan-400 focus:border-[2px] focus:border-white
                    ring-gray-300 border-white border-[2px] ring-[1px]
                    flex items-center justify-center align-middle
                    rounded-full ratio-1x1 w-7 p-4"
                      data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{subItem?.title}}">
                      <svg [style]="'fill:' + pickTextColorBasedOnBgColorSimple(subItem?.hex_code)"
                           class="icon-medium absolute">
                        <use href="#done"/>
                      </svg>
                    </button>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <div *ngIf="item?.product?.default_variant?.size" class="w-full">
            <div class="3/5">
              <div class="my-5">
                <b>سایز: {{item?.product?.default_variant?.size?.title}}</b>
              </div>
              <div class="my-2 flex relative">
                <div class="dropdown w-full">
                  <button class="
          dropdown-toggle
          px-6
          py-2.5
          border-[1px]
          border-gray-200
          font-medium
          text-xs
          leading-tight
          w-full
          uppercase
          rounded
          transition
          duration-150
          ease-in-out
          flex
          items-center
          justify-between
          whitespace-nowrap
        "
                          type="button"
                          id="dropdownSize"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                  >
                    {{item?.product?.default_variant?.size?.title}}
                    <svg class="icon-medium">
                      <use href="#dropdown"></use>
                    </svg>
                  </button>
                  <ul
                    class="dropdown-menu min-w-max hidden bg-white text-base w-full text-right rtl
                   z-50 py-2 list-none rounded-lg mt-1 hidden m-0 border-[1px]"
                    aria-labelledby="dropdownSize">
                    <ng-template ngFor let-subItem [ngForOf]="this.item?.product?.variants"
                                 let-k="index">
                      <li class="w-full rtl">
                        <button
                          class="dropdown-item text-sm py-2 px-4 font-normal text-right rtl
                        block w-full whitespace-nowrap bg-white text-gray-700">
                          {{subItem?.size?.title}}
                        </button>
                      </li>
                    </ng-template>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="item?.product?.review?.attributes" class="w-full">
            <div class="my-5"><b>ویژگی‌ها</b></div>
            <ng-template ngFor let-subItem [ngForOf]="this.item?.product?.review?.attributes.slice(0,variantsCount)"
                         let-k="index">
              <div class="text-sm font-bold flex gap-2 mt-3">
                <span class="text-gray-400 flex gap-1">
                  <svg class="icon-gray fill-gray-400 icon-small">
                    <use href="#dotOutline"/>
                  </svg>
                  {{subItem?.title }}:
                </span>
                <span>{{subItem?.values?.toString(' ،')}}</span>
              </div>
            </ng-template>
            <div>
              <button class="text-link text-sm" *ngIf="variantsCount < this.item?.product?.review?.attributes.length"
                      (click)="variantsCount=99">
                مشاهده بیشتر ...
              </button>
            </div>
          </div>
        </div>
        <div class="border-b-[1px] border-gray-100 mb-2 w-full"></div>
        <div class="border-[1px] border-gray-200 w-full flex justify-between rounded-lg my-2">
          <div class="py-5 px-2 flex flex-wrap flex-col justify-center gap-2 text-right">
            <p class="text-[15px] font-bold text-right">ارسال رایگان</p>
            <span class="text-gray-500 text-[12px]">برای سفارش‌های بالای ۵۰۰ هزارتومان</span>
          </div>
          <div>
            <img src="/assets/static/img/normalFreeShippingTouchPointImage.d4416515.svg" class="w-full h-max"/>
          </div>
        </div>
      </div>
      <div class="w-2/5">
        <app-market-product-action-box [item]="item"></app-market-product-action-box>
      </div>
    </div>
  </div>
</div>
<div class="border-b-[1px] border-gray-100 mb-2 w-full"></div>

