<div class="container mx-auto rtl">
  <script src="assets/js/tw-element.js"></script>
  <app-svg-icons></app-svg-icons>
  <app-market-header></app-market-header>
  <main class="container mx-auto mt-[110px]">
    <xng-breadcrumb class="text-[13px] pt-5 text-gray-500 "></xng-breadcrumb>
    <div id="backdrop-searchModal">
      <div class="backdrop-blur bg-black/60 backdrop-opacity-50 w-full top-0 left-0 h-full absolute delay-700" *ngIf="backdropShow"
           (click)="backdropService.state.next(false)"></div>
    </div>
    <router-outlet></router-outlet>
  </main>
  <app-market-footer></app-market-footer>
</div>
